

<body>

    <div class="buttones btn-group container d-flex justify-content-center gap-3 mt-3">
        <button type="button" class="btn btn-success 
        "(click)="showaddproductform = !showaddproductform">{{showaddproductform ?'cancel':'Add product'}}</button>
        
        <button type="button" class="btn btn-secondary"
        (click)="showupdateproductform = !showupdateproductform">{{showupdateproductform ?'cancel':'Update product'}}</button>

        <button type="button" class="btn btn-danger"
        (click)="showdeleteproductform = !showdeleteproductform">{{showdeleteproductform ?'cancel':'Delete product'}}</button>
    </div>

    <!-- // Add Product Form -->

    <div *ngIf="showaddproductform" class="card mt-3 p-3">
        <h1>Add New Product</h1>

        <form [formGroup]="addform" (ngSubmit)="addproduct()" class="row g-2" mt-3>

            <div class="col-md-6">
                <input class="form-control" placeholder="Name" formControlName="name" />
            </div>
            <div class="col-6">
                <textarea class="form-control" placeholder="Description" rows="2" formControlName="description"></textarea>
            </div>
            <div class="col-md-6">
                <input class="form-control" placeholder="Price" formControlName="price" />            
            </div>
            <div class="col-md-6">
                <input class="form-control" placeholder="Category" formControlName="categoryId" />
            </div>
            
            <input type="file" class="form-control" placeholder="Image URL"  (change)="onFileSelected($event)"  />

            <button class="btn btn-success col-1" type="submit" [disabled]="addform.invalid">Create</button>

        </form>

     </div>


     <!-- // Update Product Form -->


<div *ngIf="showupdateproductform" class="card mt-3 p-3">
        <h1>Update  Product</h1>

        <form [formGroup]="searchForm" class="mb-3">
            <div class="col-md-6">
                <input class="form-control" placeholder="Search Name" formControlName="searchName" />
            </div>  
            <button class="btn btn-warning mt-2" type="button" (click)="searchProduct()" >Search</button>
        </form>

        <form [formGroup]="updateform" (ngSubmit)="updateproduct()" class="row g-2  mt-3">

            <div class="col-md-6">
                <input class="form-control" placeholder="Name" formControlName="name" />
            </div>
            <div class="col-6">
                <textarea class="form-control" placeholder="Description" rows="2" formControlName="description"></textarea>
            </div>
            <div class="col-md-6">
                <input class="form-control" placeholder="Price" formControlName="price" />            
            </div>
            <div class="col-md-6">
                <input class="form-control" placeholder="Category" formControlName="categoryId" />
            </div>
            
            <input type="file" class="form-control" placeholder="Image URL"  (change)="onFileSelected($event)"  />

            <button class="btn btn-secondary col-1" type="submit" [disabled]="updateform.invalid">update</button>

        </form>

<img [src]="'https://localhost:7118/' + currentImageUrl">
     </div>
     


     <!-- // Delete Product Form -->

         <div *ngIf="showdeleteproductform" class="card mt-3 p-3" >

            <h1>Delete Product</h1>

            <form [formGroup]="deleteform" (ngSubmit)="deletproduct()" class="row g-2" mt-3>
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Name" formControlName="name" />
                    </div>

                  <button class="btn btn-danger col-1" type="submit" [disabled]="deleteform.invalid">Remove</button>
            </form>



         </div>

         <!-- // Category management buttons -->

 <div class="buttones btn-group container d-flex justify-content-center gap-3 mt-3">
        <button type="button" class="btn btn-success 
        "(click)="showaddcategoryform = !showaddcategoryform">{{showaddcategoryform ?'cancel':'Add category'}}</button>
        
        <button type="button" class="btn btn-secondary"
        (click)="showupdatecategoryform = !showupdatecategoryform">{{showupdatecategoryform ?'cancel':'Update category'}}</button>

        <button type="button" class="btn btn-danger"
        (click)="showdeletecategoryform = !showdeletecategoryform">{{showdeletecategoryform ?'cancel':'Delete category'}}</button>
    </div>


    <!-- // Add Category Form -->

   <div *ngIf="showaddcategoryform" class="card mt-3 p-3" >

            <h1>Add Category</h1>

            <form  class="row g-2 mt-3" >
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Category Name" #categoryInput />
                    </div>

                  <button class="btn btn-success col-1" type="submit " (click)="addedcategory(categoryInput.value)">Add </button>
            </form>


         </div>

         <!-- // Update Category Form -->

         <div *ngIf="showupdatecategoryform" class="card mt-3 p-3" >

            <h1>Update Category</h1>

             <form [formGroup]="searchCategoryForm" class="mb-3">
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Search Name" formControlName="searchName" />
                    </div>  
            <button class="btn btn-warning mt-2" type="button" (click)="searchCategory()" >Search</button>
        </form>

            <form [formGroup]="updateCategoryForm" (ngSubmit)="updatecaategory()"  class="row g-2" mt-3>
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Category Name" formControlName="name"  />
                    </div>

                  <button class="btn btn-secondary col-1" type="submit" [disabled]="updateCategoryForm.invalid">Update </button>
            </form>


         </div>

         <!-- // Delete Category Form -->
          <div *ngIf="showdeletecategoryform" class="card mt-3 p-3" >

            <h1>Delete Category</h1>

            <form  class="row g-2" mt-3>
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Category Name" #catinput />
                    </div>

                  <button class="btn btn-danger col-1" type="submit" (click)="deletCategory(catinput.value)">Remove </button>
            </form>


         </div>

</body>